<div class="container">
    <div class="row">
        <div class="col-md-4">
            <app-icsuuytmt></app-icsuuytmt>
        </div>
        <div class="col-md-4">
            <app-audiodex-player></app-audiodex-player>
        </div>
        <div class="col-md-4">
            <app-himediatv-news-update></app-himediatv-news-update>
        </div>
    </div>
    <div class="row row2">
        <div class="col-md-4">
                <app-nerdnews></app-nerdnews>
        </div>
        <div class="col-md-4">
            <app-hisoapbox></app-hisoapbox>
        </div>
        <div class="col-md-4">
            <app-thepaldeckfiles></app-thepaldeckfiles>
        </div>
    </div>
    <div class="row row2">
        <div class="col-md-4">
                <app-therundown></app-therundown>
        </div>
        <div class="col-md-4">
            <app-wmdroundtable></app-wmdroundtable>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>