<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 100%;">
              <img class="card-img-top"
               src="https://d3wo5wojvuv7l.cloudfront.net/t_square_limited_720/images.spreaker.com/original/e6927ecc676892ca56d8d2421915e38a.jpg"
                alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">Audiodex</h2>
                    <a href="https://himedia.gg/audiodex" class="btn btn-primary">Go</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 100%;">
              <img class="card-img-top"
              src="https://d3wo5wojvuv7l.cloudfront.net/t_square_limited_720/images.spreaker.com/original/d01b07a7832af8ec7a15cae0b6f17e5f.jpg"
              alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">HIMedia Headlines</h2>
                    <a href="https://himedia.gg/himediaheadlines" class="btn btn-primary">Go</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 100%;">
              <img class="card-img-top"
               src="https://d3wo5wojvuv7l.cloudfront.net/t_square_limited_720/images.spreaker.com/original/38011f9ddddfbe4771df78acd088615a.jpg"
                alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">HI Soapbox</h2>
                    <a href="https://himedia.gg/hisoapbox" class="btn btn-primary">Go</a>
                </div>
              </div>
        </div>
    </div>
    <div class="row row2">
        <div class="col-md-4">
            <div class="card" style="width: 100%;">
              <img class="card-img-top"
              src="https://d3wo5wojvuv7l.cloudfront.net/t_square_limited_720/images.spreaker.com/original/484997a4601fcace8f82f7996d477fb6.jpg"
              alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">I Can't Shut Up Unless You Tell Me To</h2>
                    <a href="https://himedia.gg/icsuuytmt" class="btn btn-primary">Go</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 100%;">
              <img class="card-img-top"
               src="https://d3wo5wojvuv7l.cloudfront.net/t_square_limited_720/images.spreaker.com/original/ed3f99474cfafb6f7841244db80b48be.jpg"
               alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">Little Black Book</h2>
                    <a href="https://himedia.gg/littleblackbook" class="btn btn-primary">Go</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 100%;">
              <img class="card-img-top"
               src="https://d3wo5wojvuv7l.cloudfront.net/t_square_limited_720/images.spreaker.com/original/170ef3188960d97e5e164d689b5935a3.jpg"
               alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">#Palworld Files</h2>
                    <a href="https://himedia.gg/thepaldeckfiles" class="btn btn-primary">Go</a>
                </div>
              </div>
        </div>
    </div>
    <div class="row row2">
        <div class="col-md-4">
            <div class="card" style="width: 100%;">
              <img class="card-img-top"
               src="https://d3wo5wojvuv7l.cloudfront.net/t_square_limited_720/images.spreaker.com/original/4350d0b9dcb0da8cbc6db5597002d257.jpg"
                alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">Psychedelic Space Cadet</h2>
                    <a href="https://himedia.gg/PsychedelicSpaceCadet" class="btn btn-primary">Go</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 100%;">
              <img class="card-img-top"
               src="https://d3wo5wojvuv7l.cloudfront.net/t_square_limited_720/images.spreaker.com/original/c0c44309f79472e1e1d7412b471c8475.jpg"
                alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">The Rundown</h2>
                    <a href="https://himedia.gg/therundown" class="btn btn-primary">Go</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 100%;">
              <img class="card-img-top"
               src="https://d3wo5wojvuv7l.cloudfront.net/t_square_limited_720/images.spreaker.com/original/a74ab62e9db3d7a0fc02c40384daa092.jpg"
                alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">The Petty Poneglyph Podcast</h2>
                    <a href="https://himedia.gg/ThePettyPoneglyphPodcast" class="btn btn-primary">Go</a>
                </div>
              </div>
        </div>
    </div>
    <div class="row row2">
        <div class="col-md-4">
            <div class="card" style="width: 100%;">
              <img class="card-img-top"
               src="https://d3wo5wojvuv7l.cloudfront.net/t_square_limited_720/images.spreaker.com/original/9695895f989ccfb976bae2e573ad5946.jpg"
                alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">Winston's Roundtable</h2>
                    <a href="https://himedia.gg/wmdroundtable" class="btn btn-primary">Go</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
