<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h2 class="card-title">I Can't Shut Up Unless You Tell Me To</h2>
                    <app-icsuuytmt></app-icsuuytmt>
                    <a routerLink="../ICSUUYTMT" class="btn btn-primary">View Podcast</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h2 class="card-title">Audiodex</h2>
                    <app-audiodex-player></app-audiodex-player>
                  <a routerLink="../audiodex" class="btn btn-primary">View Podcast</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h2 class="card-title">HIMediaTV News Update</h2>
                    <app-himediatv-news-update></app-himediatv-news-update>
                    <a routerLink="../HIMediaTVNewsUpdate" class="btn btn-primary">View Podcast</a>
                </div>
              </div>
        </div>
    </div>
    <div class="row row2">
        <div class="col-md-4">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h2 class="card-title">Nerd News</h2>
                    <app-nerdnews></app-nerdnews>
                    <a routerLink="../nerdnews" class="btn btn-primary">View Podcast</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h2 class="card-title">HI Soapbox</h2>
                    <app-hisoapbox></app-hisoapbox>
                    <a routerLink="../hisoapbox" class="btn btn-primary">View Podcast</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h2 class="card-title">The Paldeck Files</h2>
                    <app-thepaldeckfiles></app-thepaldeckfiles>
                    <a routerLink="../thepaldeckfiles" class="btn btn-primary">View Podcast</a>
                </div>
              </div>
        </div>
    </div>
    <div class="row row2">
        <div class="col-md-4">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h2 class="card-title">The Rundown</h2>
                    <app-therundown></app-therundown>
                    <a routerLink="../therundown" class="btn btn-primary">View Podcast</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h2 class="card-title">Winston's Master Duel Roundtable</h2>
                    <app-wmdroundtable></app-wmdroundtable>
                    <a routerLink="../wmdroundtable" class="btn btn-primary">View Podcast</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>