<div class="container ">
    <div class="row">
        
        <div class="d-flex justify-content-center">
            <h2>Hit Our Links</h2>
        </div>
        <div class="d-flex justify-content-center">
            <img src="assets/hilogo.png" alt="" width="300" height="240">
        </div>
        <div class="d-flex justify-content-center">
            <h2>Welcome To HI Media</h2>
        </div>
    <div class="row">
        <div class="d-flex justify-content-center">
            <a class="btn btn-primary" href="https://www.youtube.com/channel/UCRkoBVgvP1Bu_UK5SGMlO_w" target="_blank">Youtube</a>
        </div>
        <div class="d-flex justify-content-center">
            <a class="btn btn-primary" href="https://discord.com/servers/hi-media-426459490725134339" target="_blank">Become A Member!</a>
        </div>
        <div class="d-flex justify-content-center">
            <a class="btn btn-primary" href="https://www.himediamarketplace.com/" target="_blank">Webstore</a>
        </div>
    </div>

        <div class="row">
            <div class="col-md-6">
                <app-live></app-live>
            </div>
            <div class="col-md-6">
                <app-discord></app-discord>
            </div>
            

            </div>
        </div>
    </div>
