<div class="d-flex justify-content-center">
  </div>

  <iframe width="100%" height="315" src="https://www.youtube.com/embed/videoseries?si=1do5pMO9zkvO4XRN&amp;list=PLrdsRuM2eycXCCE2gK5M_gLQ9CzlOghBP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <a  href="https://open.spotify.com/show/5m9p0NsjscWQ7Ndbt31tzI?nd=1&dlsi=039bb50c34794282" class="btn btn-primary" target="_blank">Spotify</a>
    <a href="https://iheart.com/podcast/288265146/" class="btn btn-primary" target="_blank">iHeartRadio</a>
