<div class="card" style="width: 18rem;">
    <img src="https://picsum.photos/200" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{cardTitle}}</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque magna neque, tincidunt vitae diam vel, mattis lacinia lorem. Vestibulum quis finibus leo</p>
      <a href="https://linktr.ee/himediatv" class="btn btn-primary">Linktree</a>
    </div>
    <!---TODO:  Remove This Once You figure Out Services-->
  </div> 
