<div class="card" style="width: 18rem;">
    <img src="https://picsum.photos/200" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{infoSearchBar}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <!---TODO:  Remove This Once You figure Out Services-->
    <input class="form-control" type="text" [(ngModel)]='infoSearchBar'>
  </div> 
