<div class="row">
    <div class="d-flex justify-content-center">
        <h2>Latest Video:</h2>
    </div>      
</div>
<div class="row">
    <div class="d-flex justify-content-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLrdsRuM2eycUvVyjJ3CfbFbqPo6yVLtjr" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>      
</div>

