<div class="row" > 
    <div class="row">
        <div class="col-md-4">
            <h2>New Videos
                <a class="btn btn-primary" href="https://www.youtube.com/@HIMediaTV?sub_confirmation=1" target="_blank">
                    ❤️
                </a>
            </h2> 
            <iframe width="auto" height="315" src="https://www.youtube.com/embed/videoseries?si=zz4z4FfEJfRx7siX&amp;list=PLrdsRuM2eycU7pUmZY5okrW_08CsGqvnl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="col-md-4">
        <h2>Clips & Shorts
            <a class="btn btn-primary" href="https://www.youtube.com/@HIMediaTV2?sub_confirmation=1" target="_blank">
                ❤️
            </a>
        </h2>     
            <iframe width="auto" height="315" src="https://www.youtube.com/embed/videoseries?si=37XgiZCWM2XhvuNF&amp;list=PLk7kpgHyD87s2bmlFDOG3K3jVVMFllM-v" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 
    </div> 
    <div class="col-md-4">
        <h2>2nd Channel
            <a class="btn btn-primary" href="https://www.youtube.com/@HIMediaTVHighlights?sub_confirmation=1" target="_blank">
                ❤️
            </a>
        </h2>     
        <iframe width="auto" height="315" src="https://www.youtube.com/embed/videoseries?si=U5wpomFucqzvf5rs&amp;list=PLYQwIYe5nJjAqOg33kc0dwh0Q5pK-Q-OU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>  
    </div>
</div>