<h6> </h6>
<div class="d-flex justify-content-center">
   <h2>Join Our Community!</h2>
</div>
<div class="d-flex justify-content-center">
   <a class="btn btn-primary" href="https://discord.gg/gJbQ4Dvz76" target="_blank">Click Here</a>
   <br>
</div>
<div class="d-flex justify-content-center">
   <iframe src="https://discord.com/widget?id=426459490725134339&theme=dark" 
   width="350" 
   height="500" 
   allowtransparency="true" 
   frameborder="0" 
   sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
</div>
    <h6> </h6>