<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center">
            <h2>Live Watchbox</h2>
        </div>      
    </div>
    <div class="row">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link" id="nav-youtube" data-toggle="tab" href="/HIMediaHub/watchbox#youtube" role="tab" aria-controls="nav-youtube">Youtube</a>
              <a class="nav-item nav-link" id="nav-twitch" data-toggle="tab" href="/HIMediaHub/watchbox/#twitch" role="tab" aria-controls="nav-twitch">Twitch</a>
              <a class="nav-item nav-link" id="nav-kick" data-toggle="tab" href="/HIMediaHub/watchbox/#kick" role="tab" aria-controls="nav-kick">Kick</a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-youtube">            
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-twitch">
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-kick">
                <app-kick></app-kick>
            </div>
          </div>
        <div class="row gap">
            
        </div>
        <div class="row gap">
        </div>
        <div class="row cap">
           
       </div>
    </div>
    <div class="row">     
    </div>
    <app-twitch></app-twitch>
    <!-- <router-outlet name="watchboxFrame"></router-outlet> -->

    <div class="gap"></div>

    <app-watchbox-base></app-watchbox-base>