<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center">
            <h2>Live Watchbox</h2>
        </div>      
    </div>
    <div class="row">
        <div class="d-flex justify-content-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/live_stream?channel=UCRkoBVgvP1Bu_UK5SGMlO_w" frameborder="0" allowfullscreen></iframe>

        </div>      
    </div>
    <div class="row">
        <div class="d-flex justify-content-center">
            <a class="btn btn-primary" href="https://www.youtube.com/@HIMediaTV/live" target="_blank">Chat</a>
        </div>      
    </div>
    <div class="row">
        <div class="d-flex justify-content-center">
            <h2>Latest Videos:</h2>
        </div>      
    </div>
    <div class="row">
        <div class="d-flex justify-content-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLrdsRuM2eycUvVyjJ3CfbFbqPo6yVLtjr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>      
    </div>
</div>
