<div class="d-flex justify-content-center">
    <h4>The Petty Poneglyph Podcast</h4>
  </div>
  <iframe width="100%" height="315" src="https://www.youtube.com/embed/videoseries?si=tT8kBfAQW2fCoHxw&amp;list=PLrdsRuM2eycVNE7zXlJkYvdrio7jM6aB8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  <a href="https://himedia.gg/ThePettyPoneglyphPodcast" class="btn btn-primary">View Podcast On himedia.gg</a>
  <a href="https://open.spotify.com/show/42UHalxD6tmCKzV9pePGex?nd=1&dlsi=93a1c89c76134953" class="btn btn-primary">Spotify</a>
  <a href="https://iheart.com/podcast/287800295/" class="btn btn-primary">iHeartRadio</a>
