
<div class="d-flex justify-content-center">
    <iframe src="https://player.twitch.tv/?channel=himediatv&parent=localhost&parent=flyaway12345.github.io&parent=himedia.gg"
    frameborder="0"
     allowfullscreen="true"
      scrolling="no"
       height="700"
        width="1200">
    </iframe>
    <iframe
       id="chat_embed"
       src="https://www.twitch.tv/embed/himediatv/chat?parent=localhost&parent=flyaway12345.github.io&parent=himedia.gg"
       height="700"
       width="250">
    </iframe>
 </div>