<div class="d-flex justify-content-center">
    <h4>HI Soapbox</h4>
  </div>
  <iframe width="100%" height="315" src="https://www.youtube.com/embed/videoseries?si=eBjCutSUApUgR043&amp;list=PLrdsRuM2eycVBxYC5Xakabn20sbzxwXWX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      <a href="https://himedia.gg/hisoapbox" class="btn btn-primary">View Podcast</a>
