<div *ngIf="formatSwitch">
  <a class="btn btn-primary" (click)="formatSwitchMethod()">Switch To Audio</a>
  <iframe width="100%" height="315" src="https://www.youtube.com/embed/videoseries?si=eBjCutSUApUgR043&amp;list=PLrdsRuM2eycVBxYC5Xakabn20sbzxwXWX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<div *ngIf="!formatSwitch">
  <a class="btn btn-primary" (click)="formatSwitchMethod()">Switch To Video</a>
<iframe src='https://widget.spreaker.com/player?show_id=6073176&theme=dark&playlist=show&playlist-continuous=true&chapters-image=true' width='100%' height='400px' title='HI Soapbox' frameborder='0'></iframe>
</div>
<div>
  <h2>
    Or Listen On Your Favorite Podcasting App:
  </h2>
</div>
  <a  href="https://open.spotify.com/show/5wu7AOm2vS4Sf8tCQEsQLy?nd=1&dlsi=0c975cd9bed44389" class="btn btn-primary" target="_blank">Spotify</a>
  <a href="https://iheart.com/podcast/288264696/" class="btn btn-primary" target="_blank">iHeartRadio</a>
  <a href="https://podcasts.apple.com/us/podcast/hi-soapbox/id1727791135" class="btn btn-primary" target="_blank">Apple</a>
  <a href="https://music.amazon.com/podcasts/2a7d7fd5-5508-4c81-8cb6-960cf7fb314d" class="btn btn-primary" target="_blank">Amazon Music</a>
  <a href="https://music.amazon.com/podcasts/2a7d7fd5-5508-4c81-8cb6-960cf7fb314d" class="btn btn-primary" target="_blank">Audible</a>
