<div class="d-flex justify-content-center">
  </div>
  <iframe width="100%" height="315" src="https://www.youtube.com/embed/videoseries?si=eBjCutSUApUgR043&amp;list=PLrdsRuM2eycVBxYC5Xakabn20sbzxwXWX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      <a  href="https://open.spotify.com/show/5wu7AOm2vS4Sf8tCQEsQLy?nd=1&dlsi=0c975cd9bed44389" class="btn btn-primary" target="_blank">Spotify</a>
      <a href="https://iheart.com/podcast/288264696/" class="btn btn-primary" target="_blank">iHeartRadio</a>
     <a href="https://podcasts.apple.com/us/podcast/hi-soapbox/id1727791135" class="btn btn-primary" target="_blank">Apple</a>
