 <div class="container">
    <div class="row">
            <markdown [data]="markdown"></markdown>
 
            <div *ngFor="let posts of blogData" class="card" style="width: 18rem;">
                <div class="card-body">
                  <h2 class="card-title">
                    {{posts.title}}
                  </h2>
                  <p class="card-text">
                    
                  </p>
                  <a (click)="renderMarkdown(posts.title)" class="btn btn-primary" >Read More</a>
                </div>
        </div>
    </div>


  </div>