 <div class="container">
    <div class="row">
      <h2>Welcome To The Blog! <a *ngIf="!clear" class="btn btn-primary" (click)="onRefresh()"><i class="fa fa-times-circle-o" aria-hidden="true"></i></a></h2>
      <hr class="hr" />
    </div>
    <div *ngIf="!clear" class="row">
      <div  class="col-md-8">
        <markdown [data]="markdown"></markdown>
      </div>
      <div class="col-md-4">


      </div>
    </div>
    <div class="row">

    </div>
    <div class="row">
            <a *ngIf="!clear" class="btn btn-primary" (click)="onRefresh()">Close <i class="fa fa-times-circle-o" aria-hidden="true"></i></a>
            <div *ngFor="let posts of blogData" class="card" style="width: 18rem;">
                <div class="card-body" *ngIf="posts.display === 1">
                  <img src="{{posts.img}}" alt="">
                  <h2 class="card-title">
                    {{posts.title}}
                  </h2>
                  <p class="card-text">
                    <strong>Date: </strong> {{posts.date}}
                  </p>
                  <a (click)="renderMarkdown(posts.title)" class="btn btn-primary" >Read More</a>
                </div>
        </div>
    </div>


 