 <div class="container">
    <div class="row">
      <h2>Welcome To The Blog! <a *ngIf="!clear" class="btn btn-primary" (click)="onRefresh()"><i class="fa fa-times-circle-o" aria-hidden="true"></i></a></h2>
      <hr class="hr" />
    </div>
    <div *ngIf="!clear" class="row">
      <div  class="col-md-8">
        <markdown [data]="markdown"></markdown>
        <iframe
        width="100%"
        height="500" 
        src="{{videoURL}}" 
        title="YouTube video player"  
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen></iframe>
      </div>
      <div class="col-md-4">
        <app-live-mobile></app-live-mobile>
        <app-discord></app-discord>
      </div>
    </div>
    <div class="row">

    </div>
    <div class="row">
            <a *ngIf="!clear" class="btn btn-primary" (click)="onRefresh()">Close <i class="fa fa-times-circle-o" aria-hidden="true"></i></a>
            <div *ngFor="let posts of blogData" class="card" style="width: 18rem;">
                <div class="card-body" *ngIf="posts.display === 1">
                  <img src="{{posts.img}}" alt="">
                  <h2 class="card-title">
                    {{posts.title}}
                  </h2>
                  <p class="card-text" style="color: black;">
                    <strong>Date: </strong> {{posts.date}}
                  </p>
                  <a (click)="renderMarkdown(posts.title)" (click)="getVideo(posts.video)" class="btn btn-primary" >Read More</a>
                </div>
        </div>
    </div>


 