<div class="row">
    <div class="col-3 card" style="width: 18rem; margin: 1em;">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{pokemonData.id}}.png" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">#{{pokemonData.id}}: {{pokemonData.name | titlecase}}</h5>
        </div>
              <input class="form-control" type="text" [(ngModel)]='infoSearchBar' placeholder="">
              <button class="btn btn-primary" (click)="onClick()">Test</button>
    </div>
  </div>
