<div class="row">
  <div *ngFor="let pokemonDataArray of pokemonDataArray; index as i" class="col-md-4">
    <div  class="col-3 card" style="width: 18rem; margin: 1em;">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{pokemonDataArray.id}}.png" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">#{{pokemonDataArray.id}}: {{pokemonDataArray.name | titlecase}}</h5>
        </div>         
    </div>
  </div>
  
</div>
