
<div *ngIf="formatSwitch">
  <a class="btn btn-primary" (click)="formatSwitchMethod()">Switch To Audio</a>
  <iframe width="100%" height="315" src="https://www.youtube.com/embed/videoseries?si=cwkZigx-P_rYnDqp&amp;list=PLrdsRuM2eycWq8kQsvYwsrhR9retKMS2D" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<div *ngIf="!formatSwitch">
  <a class="btn btn-primary" (click)="formatSwitchMethod()">Switch To Video</a>
<iframe src='https://widget.spreaker.com/player?show_id=4755747&theme=dark&playlist=show&playlist-continuous=true&chapters-image=true' width='100%' height='400px' title='AudioDex' frameborder='0'></iframe>
</div>
    <div>
  <h2>
    Or Listen On Your Favorite Podcasting App:
  </h2>
</div>
  <a  href="https://open.spotify.com/show/7LAeUab0TFTIO9ybTAeryS" class="btn btn-primary" target="_blank">Spotify</a>
  <a href="https://iheart.com/podcast/288264249/" class="btn btn-primary" target="_blank">iHeartRadio</a>
  <a href="https://podcasts.apple.com/us/podcast/audiodex/id1502912125" class="btn btn-primary" target="_blank">Apple</a>
  <a href="https://music.amazon.com/podcasts/e0e8b53b-0582-4380-9e89-23e09b7a293d" class="btn btn-primary" target="_blank">Amazon Music</a>
  <a href="https://music.amazon.com/podcasts/e0e8b53b-0582-4380-9e89-23e09b7a293d" class="btn btn-primary" target="_blank">Audible</a>
