
<div *ngIf="formatSwitch">
  <a class="btn btn-primary" (click)="formatSwitchMethod()">Switch To Audio</a>
    <h2>Go Nag T1 To Make The Playlist Yall lol</h2>
</div>
<div *ngIf="!formatSwitch">
  <a class="btn btn-primary" (click)="formatSwitchMethod()">Switch To Video</a>
<iframe src="https://widget.spreaker.com/player?show_id=6731900&theme=dark&playlist=show&playlist-continuous=true&chapters-image=true&episode_image_position=right&hide-logo=false&hide-likes=false&hide-comments=false&hide-sharing=false&hide-download=false" width="100%" height="350px" title="Why Does This Keep Happening" frameborder="0"></iframe>
</div>
    <div>
  <h2>
    Or Listen On Your Favorite Podcasting App:
  </h2>
</div>
  <a href="https://www.spreaker.com/podcast/why-does-this-keep-happening--6731900" class="btn btn-primary" target="_blank">Spreaker</a>
  <a href="#" class="btn btn-primary" target="_blank" hidden>Apple</a>
  <a href="https://open.spotify.com/show/1bQJ8SG5bnL9zIcfwc7R3h" class="btn btn-primary" target="_blank">Spotify</a>
  <a href="#" class="btn btn-primary" target="_blank" hidden>iHeartRadio</a>
  <a href="#" class="btn btn-primary" target="_blank" hidden>Amazon Music</a>
  <a href="#" class="btn btn-primary" target="_blank" hidden>Audible</a>
  <a href="#" class="btn btn-primary" target="_blank" hidden>Castbox</a>
  <a href="#" class="btn btn-primary" target="_blank" hidden>Deezer</a>
  <a href="https://podcastaddict.com/podcast/why-does-this-keep-happening/6083342" class="btn btn-primary" target="_blank">Podcast Addict</a>
  <a href="https://www.podchaser.com/podcasts/why-does-this-keep-happening-6205394" class="btn btn-primary" target="_blank">Podchaser</a>
  <a href="#" class="btn btn-primary" target="_blank" hidden>JioSaavn</a>

