
<div *ngIf="formatSwitch">
  <a class="btn btn-primary" (click)="formatSwitchMethod()">Switch To Audio</a>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/videoseries?si=upzQp8-q84EGozxm&amp;list=PLGbakfCNNekLWdaiIYy8F51UlPeWyrWN7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<div *ngIf="!formatSwitch">
  <a class="btn btn-primary" (click)="formatSwitchMethod()">Switch To Video</a>
<iframe src="https://widget.spreaker.com/player?show_id=6731900&theme=dark&playlist=show&playlist-continuous=true&chapters-image=true&episode_image_position=right&hide-logo=false&hide-likes=false&hide-comments=false&hide-sharing=false&hide-download=false" width="100%" height="350px" title="Why Does This Keep Happening" frameborder="0"></iframe>
</div>
<div>
  <h2>
    Or Listen On Your Favorite Podcasting App:
  </h2>
</div>
  <a href="https://www.spreaker.com/podcast/why-does-this-keep-happening--6731900" class="btn btn-primary" target="_blank">Spreaker</a>
  <a href="https://podcasts.apple.com/us/podcast/why-does-this-keep-happening/id1838221831" class="btn btn-primary" target="_blank" >Apple</a>
  <a href="https://open.spotify.com/show/1bQJ8SG5bnL9zIcfwc7R3h" class="btn btn-primary" target="_blank">Spotify</a>
  <a href="https://iheart.com/podcast/292649505" class="btn btn-primary" target="_blank" >iHeartRadio</a>
  <a href="https://music.amazon.com/podcasts/48ece043-25cd-4775-bfd9-3f81a90cc2a4" class="btn btn-primary" target="_blank" >Amazon Music</a>
  <a href="https://music.amazon.com/podcasts/48ece043-25cd-4775-bfd9-3f81a90cc2a4" class="btn btn-primary" target="_blank" >Audible</a>
  <a href="#" class="btn btn-primary" target="_blank" hidden>Castbox</a>
  <a href="https://www.deezer.com/show/1002175361" class="btn btn-primary" target="_blank" >Deezer</a>
  <a href="https://podcastaddict.com/podcast/why-does-this-keep-happening/6083342" class="btn btn-primary" target="_blank">Podcast Addict</a>
  <a href="https://www.podchaser.com/podcasts/why-does-this-keep-happening-6205394" class="btn btn-primary" target="_blank">Podchaser</a>
  <a href="#" class="btn btn-primary" target="_blank" hidden>JioSaavn</a>

<div>
  <h2>
    <br>
    Hit T1's Links:
  </h2>
</div>
<a href="https://ko-fi.com/that1blackguy786" class="btn btn-primary" target="_blank">Ko-fi</a>
  <a href="https://www.tiktok.com/@that1blackguy786" class="btn btn-primary" target="_blank" >Apple</a>
<a href="www.youtube.com/That1BlackGuy" class="btn btn-primary" target="_blank">Youtube</a>
  <a href="https://linktr.ee/that1blackguy" class="btn btn-primary" target="_blank" >See More</a>
