<p>
<br>When: (tentatively) Every Wednesday at approximately 6pm EST
<br>
<br>Where: <a href="https://discord.com/servers/hi-media-426459490725134339" target="_blank">HI Media Discord</a>
<br>
<br>
<br>Banlist: the official Masterduel Banlist Along with the following -
<br>Banned Archetypes:
<br>Tearlament
<br>Spright
<br>Floowandereeze
<br>Runick
<br>Swordsoul
<br>Adamancipator
<br>Eldlich
<br>Labrynth
<br>Adventure
<br>Barrier Statue
<br>Branded
<br>Borrel
<br>Kashtira
<br>Purrely
<br>Vanity's
<br>
<br>Banned/Limited Cards in Addendum:
<br>======Banned=======
<br>    Monsters-
<br>        -Main Deck Monsters
<br>            Kelbek the Ancient Vanguard
<br>            Agido the Ancient Sentry
<br>            Mathmech Circular
<br>            Cactus Bouncer
<br>        -Ritual Monsters
<br>            Herald of Ultimateness
<br>            Herald of Perfection
<br>            Amorphactor Pain, the Imagination Dracoverlord
<br>   Extra Deck Monsters-
<br>       Fusion-
<br>           Destiny HERO - Destroyer Phoenix Enforcer
<br>       Synchro-
<br>           Barone De Fleur
<br>       XYZ-
<br>           Divine Arnsenal AA-Zeus - Sky Thunder
<br>        Link-
<br>           AccessCode Talker
<br>           Apollousa Bow Of The Goddess
<br>           Predaplant Verte Anaconda
<br>           Heavymetalfoes Electrumite
<br>           Guardragon Pisty
<br>
<br>
<br>    -Spells
<br>        Numeron Network
<br>    -Traps
<br>        Skill Drain
<br>        Rivalry Of The Warlords
<br>   Dimensional Barrier
<br>   ======Limited======
<br>    Monsters-
<br>        -Main Deck Monsters
<br>          Naturia Mole Cricket
<br>          Maxx "C"
<br>        -Ritual Monsters
<br>   Extra Deck Monsters-
<br>       Fusion-
<br>       Synchro-
<br>       XYZ-
<br>       Link-
<br>   -Spells
<br>    -Traps
<br>        Gozen Match
<br>        Royal Decree
<br>======Semi Limited======
<br>    Monsters-
<br>        -Main Deck Monsters
<br>            Destiny Hero Malicious
<br>        -Ritual Monsters
<br>    Extra Deck Monsters-
<br>        Fusion-
<br>        Synchro-
<br>        XYZ-
<br>        Link-
<br>    -Spells
<br>    -Traps
<br> 
<br>
<br>
<br>Banlists are subject to change and will ebb and flow with time
<br>==================================================================
<br>Prizing: I cashapp you 10 bucks
<br>
<br>
<br>About the format:
<br>Heart of the Underdog is an alternate format for local tournaments that is offered by Official Tournament Stores (OTS) that is designed to encourage Duelists to flex their Deck building skills in a fun and creative way. The format is primarily intended to be fun and casual, rather than being competitive, allowing Duelists different ways to enjoy participating in Yu-Gi-Oh! TRADING CARD GAME (TCG) tournaments.

Heart of the Underdog tournaments require all Duelists build a Deck using a Deck Type that is not prominent in the current metagame. The final determination of whether a Deck Type is allowed is at the discretion of the OTS, so make sure to reach out to your OTS before you start building your Heart of the Underdog Deck!

As with all local tournaments, each OTS determines the tournament entry and prizing. So please check with your OTS for these details. Each Duelist will receive Yu-Gi-Oh! TCG product prizing with a value equal to or greater than the entry fee.

The tournament can use either the Advanced or Traditional Forbidden & Limited List, so make sure you check in with your OTS on which Forbidden & Limited list to prepare for.
</p>
<p>Citation: <a href="https://www.yugioh-card.com/en/play/alternate_format_tournaments/heart-of-the-underdog/" target="_blank">yugioh-card.com</a></p>
<br>
<p>Sign Ups: <a href="https://challonge.com/communities/TheWinstonCup" target="_blank">https://challonge.com/communities/TheWinstonCup</a></p>
