
            <iframe src="https://player.twitch.tv/?channel=himediatv&parent=localhost&parent=flyaway12345.github.io"
            frameborder="0" 
            allowfullscreen="true" 
            muted="true"
            scrolling="no"
            height="378px" 
            width="100%">
            </iframe>
            <iframe
            id="chat_embed"
            src="https://www.twitch.tv/embed/himediatv/chat?parent=localhost&parent=flyaway12345.github.io"
            height="478px"
            width="100%">
        </iframe>
