
<div class="d-flex justify-content-center">
    <h2>Monthly Membership Rewards Delivered Via Discord</h2>
    <br>
</div>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-4">         
            <iframe id='kofiframe' src='https://ko-fi.com/himediatv/?hidefeed=true&widget=true&embed=true&preview=true' style='border:none;width:100%;padding:4px;background:#f9f9f9;' height='712' title='himediatv'></iframe>
        </div>
        <div class="col-md-4">   
            <div class="d-flex justify-content-center">
                <h4>Thank You For Your Support!</h4>
            </div> 
            <div class="d-flex justify-content-center">
                <p>Get Your Membership Through These Other Services If Kofi Isnt Your Speed</p>
            </div>
            <div class="d-flex justify-content-center">
                <a class="btn btn-primary" width="auto" href="https://discord.com/servers/hi-media-426459490725134339" target="_blank">Discord Subs</a>
            </div>
            <div class="d-flex justify-content-center">
                <a class="btn btn-primary" width="auto" href="https://pally.gg/tip/himediatv" target="_blank">Mods Get A Cut From This One</a>
            </div>
            <div class="d-flex justify-content-center">
                <a class="btn btn-primary" width="auto" href="https://patreon.com/himedia" target="_blank">Patreon</a>
            </div>
            <div class="d-flex justify-content-center">
                <a class="btn btn-primary" width="auto" href="https://www.twitch.tv/subs/himediatv" target="_blank">Twitch Subs</a>
            </div>
            <div class="d-flex justify-content-center">
                <a class="btn btn-primary" width="auto" href="https://buymeacoffee.com/himediatv" target="_blank">Buy Me A Coffee</a>
            </div>
            <div class="d-flex justify-content-center">
                <a class="btn btn-primary" width="auto" href="https://ko-fi.com/himediatv" target="_blank">And Also Ko-Fi</a>
            </div>     
        </div>
        <div class="col-md-4">
            <app-live></app-live>
        </div>
    </div>
</div>