
  
<div class="d-flex justify-content-center">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <iframe class="card-img-top" width="auto" height="315" src="https://www.youtube.com/embed/videoseries?si=zz4z4FfEJfRx7siX&amp;list=PLrdsRuM2eycU7pUmZY5okrW_08CsGqvnl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      
          <div class="card-body">
            <h5 class="card-title">New Videos</h5>
            <a class="btn btn-primary" href="https://www.youtube.com/@HIMediaTV?sub_confirmation=1" target="_blank">
              ❤️
          </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <iframe class="card-img-top" width="auto" height="315" src="https://www.youtube.com/embed/videoseries?si=U5wpomFucqzvf5rs&amp;list=PLYQwIYe5nJjAqOg33kc0dwh0Q5pK-Q-OU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>    <div class="card-body">
            <h5 class="card-title">2nd Channel</h5>
            <a class="btn btn-primary" href="https://www.youtube.com/@HIMediaTV2?sub_confirmation=1" target="_blank">
              ❤️
          </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <iframe class="card-img-top" width="auto" height="315" src="https://www.youtube.com/embed/videoseries?si=37XgiZCWM2XhvuNF&amp;list=PLk7kpgHyD87s2bmlFDOG3K3jVVMFllM-v" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 
          <div class="card-body">
            <h5 class="card-title">Clips & Shorts</h5>
            <a class="btn btn-primary" href="https://www.youtube.com/@HIMediaTVHighlights?sub_confirmation=1" target="_blank">
              ❤️
          </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <iframe class="card-img-top" width="auto" height="315" src="https://www.youtube.com/embed/videoseries?si=wI1dC9EbGtqTaSzt&amp;list=PLrdsRuM2eycUYb1HyfduzIegiTz83GFKm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      
          <div class="card-body">
            <h5 class="card-title"> Geek & Gaming </h5>
            <a class="btn btn-primary" href="https://www.youtube.com/@HIMediaTV?sub_confirmation=1" target="_blank">
              ❤️
          </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <iframe class="card-img-top" width="auto" height="315" src="https://www.youtube.com/embed/videoseries?si=nJJFwFGa0TCa8IDc&amp;list=PLrdsRuM2eycWvwk3XDLFEMXU3PEVuannA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>    <div class="card-body">
            <h5 class="card-title">"News", "Journalism", & Video Essays</h5>
            <a class="btn btn-primary" href="https://www.youtube.com/@HIMediaTV?sub_confirmation=1" target="_blank">
              ❤️
          </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">   
  <div class="card" style="width: 18rem;">
    <iframe class="card-img-top" width="auto" height="315" src="https://www.youtube.com/embed/videoseries?si=BV5mZTkTMmVzGYO_&amp;list=PLrdsRuM2eycU1gCOyailj6I1kmvwEZYCa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 
    <div class="card-body">
      <h5 class="card-title">Cooking By Approximation</h5>
      <a class="btn btn-primary" href="https://www.youtube.com/@HIMediaTV?sub_confirmation=1" target="_blank">
        ❤️
    </a>
    </div>
  </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <iframe class="card-img-top" width="auto" height="315" src="https://www.youtube.com/embed/videoseries?si=M8kPUKoGQsqeJgUI&amp;list=PLrdsRuM2eycWs3HpZpq2kIcs-4VHfrl7r" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      
          <div class="card-body">
            <h5 class="card-title">The Yugioh Master Duel Masochist Challenge</h5>
            <a class="btn btn-primary" href="https://www.youtube.com/@HIMediaTV?sub_confirmation=1" target="_blank">
              ❤️
          </a>
          </div>
      </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <iframe class="card-img-top" width="auto" height="315" src="https://www.youtube.com/embed/videoseries?si=O58FyipBR4fwiu0b&amp;list=PLrdsRuM2eycX87ZnaskOzBbxU4xpN8Q_D" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>    <div class="card-body">
            <h5 class="card-title">The Uncensored Library</h5>
            <a class="btn btn-primary" href="https://www.youtube.com/@HIMediaTV?sub_confirmation=1" target="_blank">
              ❤️
          </a>
          
        </div>
      </div>
      
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <iframe class="card-img-top" width="auto" height="315" src="https://www.youtube.com/embed/videoseries?si=8t8hePEdgHFH-9ri&amp;list=PLrdsRuM2eycVm0lXlw_J2lx6ljGQVkVVI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 
          <div class="card-body">
            <h5 class="card-title">Morr Clips</h5>
            <a class="btn btn-primary" href="https://www.youtube.com/@HIMediaTV?sub_confirmation=1" target="_blank">
              ❤️
          </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>