<a class="btn btn-primary" routerLink="../games">Games</a>
<a class="btn btn-primary" routerLink="../cookbook">Cookbook</a>
<a class="btn btn-primary" routerLink="../live">Watchbox </a>
<a class="btn btn-primary" routerLink="../blog">Blog</a>
<a class="btn btn-primary" routerLink="../thewinstoncup">The Winston Cup</a>
<a class="btn btn-primary" routerLink="../morning-coffee">Morning Coffee</a>
<a class="btn btn-primary"routerLink="../links">Links</a>
<a class="btn btn-primary" routerLink="../hallofshame">Hall Of Shame</a>
<a class="btn btn-primary" routerLink="../ICSUUYTMT">ICSUUYTMT</a>
<a class="btn btn-primary" routerLink="../audiodex">Audiodex</a>
<a class="btn btn-primary" href="https://flyaway12345.github.io/StarWarsWeather/">Star Wars Weather App</a>