<li><a class="btn btn-primary" routerLink="../games">Games</a></li>
<li><a class="btn btn-primary" routerLink="../cookbook">Cookbook</a></li>
<li><a class="btn btn-primary" routerLink="../watchbox">Watchbox </a></li>
<li><a class="btn btn-primary" routerLink="thewinstoncup">The Winston Cup</a></li>
<li><a class="btn btn-primary"routerLink="links">Links</a></li>
<li><a class="btn btn-primary" routerLink="../hallofshame">Hall Of Shame</a></li>
<li><a class="btn btn-primary" href="https://flyaway12345.github.io/Audiodex/" target="_blank">Audiodex</a></li>
<li><a class="btn btn-primary" href="https://flyaway12345.github.io/StarWarsWeather/">Star Wars Weather App</a></li>