








<div class="d-flex justify-content-center">
    <h1 style="color: white;">App Directory</h1>
</div>
<div class="row">
        <div *ngFor="let item of appList;" class="card" style="width: 18rem;">
            <div class="card-body" *ngIf="item.display === 1">
                <img src="{{item.img}}" alt="">
                <h2 class="card-title">
                {{item.name}}
                </h2>
                <p class="card-text">
                    {{item.description}}
                <br>
                
                </p>
                <a *ngIf="item.isRouter === 'true'"  class="btn btn-primary" routerLink="../{{item.link}}">{{item.name}}</a>
                <a *ngIf="item.isRouter === 'false'" class="btn btn-primary" href="{{item.link}}">{{item.name}}</a>
            </div>
        </div>
</div>
