<div class=".container-fluid">
    <!-- Watchbox -->
    <div class="d-flex justify-content-center">
        <h2>
            <app-commands></app-commands>
            <a href="https://interact.crowdcontrol.live/#/youtube/113462922760830995249" class="btn btn-primary" type="button" target="_blank">
                Crowd Control Dashboard
            </a> 
            <a class="btn youtube" href="https://www.youtube.com/channel/UCRkoBVgvP1Bu_UK5SGMlO_w/live" target="_blank"><i class="fa-brands fa-youtube"></i></a>

        </h2>
    </div>

    <app-live></app-live>

    </div>
    <!-- Videos -->
    <div class="row">
        <div class="gap"></div>
        <app-live-menu></app-live-menu>
    </div>
    <div class="row">
        
    </div>


    
    <!-- <router-outlet name="watchboxFrame"></router-outlet> -->
