
<h1>Banlist:  
  <button class="btn btn-primary" (click)="onClickBanlistChanges()">Changes</button>
</h1>
<div class="container" *ngIf="!banlistChanges">
  <p>
    <!-- Comments On This Page Are Possible Changes To The Next Banlist -->
    <br>-Effective: 3/28/24-
    <br>Banned: Snake-Eyes, Superheavy Samurai Prodigy Wakaushi, Mathmech Circular
    <br>Limited: Diabellstar the Black Witch
    <br>Semi-Limited: no changes
    <br>Unlimited: Spright
    <br>
    <br><button class="btn btn-primary" href="https://youtu.be/Xn1AlBETDnU" target="_blank">Video Update</button>
    </p>
</div>

<div class="container">
  <h3>Banned Archetypes:</h3>
<p>
Floowandereeze
<br>Runick
<br>Adamancipator
<br>Eldlich
<br>Labrynth
<br>Barrier Statue
<br>Branded
<br>Borrel
<br>Kashtira
<br>Purrely
<br>Vanity's
<br>Dragon Rulers
<br>Tearlament
<br>Snake-Eyes
<br>
</p>
</div>


<div class="container">
  <h2>Banned/Limited Cards in Addendum:</h2>
<button class="btn btn-primary" *ngIf="!bannedCards" (click)="onClickCards()">Text View</button>
<button class="btn btn-outline-primary" *ngIf="!bannedCards">Image View</button>
<button class="btn btn-outline-primary" *ngIf="bannedCards">Text View</button>
<button class="btn btn-primary" *ngIf="bannedCards" (click)="onClickCards()">Image View</button>
  <div class="container" *ngIf="bannedCards">
    
    <p>
    <br>======Banned=======
    <br>    Monsters-
    <br>        -Main Deck Monsters
    <br>            Kelbek the Ancient Vanguard
    <br>            Maxx "C"
    <br>            Agido the Ancient Sentry
    <br>            Cactus Bouncer
    <br>            Mathmech Circular
    <br>            Superheavy Samurai Prodigy Wakaushi 
    <br>        -Ritual Monsters
    <br>            Herald of Ultimateness
    <br>            Herald of Perfection
    <br>            Amorphactor Pain, the Imagination Dracoverlord
    <br>   Extra Deck Monsters-
    <br>       Fusion-
    <br>           Destiny HERO - Destroyer Phoenix Enforcer
    <br>       Synchro-
    <br>           Barone De Fleur
    <br>           Psychic End Punisher
    <br>       XYZ-
    <br>           Divine Arnsenal AA-Zeus - Sky Thunder
    <br>        Link-
    <br>           AccessCode Talker
    <br>           Apollousa Bow Of The Goddess
    <br>           Predaplant Verte Anaconda
    <br>           Guardragon Pisty
    <br>           Mekk-Knight Crusadia Avramax
    <br>           Underworld Goddess of the Closed World
    <br>
    <br>    -Spells
    <br>    -Traps
    <br>        Skill Drain
    <br>        Rivalry Of The Warlords
    <br>   Dimensional Barrier
    <br>   ======Limited======
    <br>    Monsters-
    <br>        -Main Deck Monsters
    <br>          Dimension Shifter
    <br>          Droll & Lock Bird
    <br>          Diabellstar the Black Witch
    <br>        -Ritual Monsters
    <br>   Extra Deck Monsters-
    <br>       Fusion-
    <br>       Synchro-
    <br>       XYZ-
    <br>       Link-
    <br>   -Spells
    <br>        Numeron Network
    <br>    -Traps
    <br>        Gozen Match
    <br>        Royal Decree
    <br>======Semi Limited======
    <br>    Monsters-
    <br>        -Main Deck Monsters
    <br>            Destiny Hero Malicious
    <br>        -Ritual Monsters
    <br>    Extra Deck Monsters-
    <br>        Fusion-
    <br>        Synchro-
    <br>        XYZ-
    <br>        Link-
    <br>    -Spells
    <br>    -Traps
    </p>
    </div>
    <div class="container" *ngIf="!bannedCards">
        <div *ngFor="let card of banlist" class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://images.ygoprodeck.com/images/cards/{{card.cardid}}.jpg" alt="image" width="auto" height="100%">
          <div class="card-body">
            <h2 class="card-title">
              {{card.cardname}}
            </h2>
            <p class="card-text">
              
            </p>
            <a href="#" class="btn btn-primary">{{card.status}}</a>
          </div>
      </div>
      </div>
</div>

