
<h1>Banlist:
  <button class="btn btn-primary" (click)="onClickBanlistChanges()">Changes</button>
</h1>
<div class="container" *ngIf="!banlistChanges">
  <p>
    <!-- Comments On This Page Are Possible Changes To The Next Banlist -->
    <br>-Effective: 1/16/25-
    <br>Banned: Dimension Shifter, Droll & Lock Bird, Skill Drain, Royal Decree, Gozen Match, Dimensional Barrier
    <br>Limited: no changes
    <br>Semi-Limited: no changes
    <br>Unlimited: Everything Else
    <br>
    <br><button class="btn btn-primary" href="https://youtu.be/Xn1AlBETDnU" target="_blank">Video Update</button>
    </p>
</div>

<div class="container">
  <h3>Banned Archetypes:</h3>
<p>
NONE
</p>
</div>


<div class="container">
  <h2>Banned/Limited Cards in Addendum:</h2>
<button class="btn btn-primary" *ngIf="!bannedCards" (click)="onClickCards()">Text View</button>
<button class="btn btn-outline-primary" *ngIf="!bannedCards">Image View</button>
<button class="btn btn-outline-primary" *ngIf="bannedCards">Text View</button>
<button class="btn btn-primary" *ngIf="bannedCards" (click)="onClickCards()">Image View</button>
  <div class="container" *ngIf="bannedCards">

    <p>
    <br>======Banned=======
    <br>    Monsters-
    <br>        -Main Deck Monsters
    <br>            Maxx "C"
    <br>            Dimension Shifter
    <br>            Droll & Lock Bird
    <br>        -Ritual Monsters
    <br>   Extra Deck Monsters-
    <br>       Fusion-
    <br>       Synchro-
    <br>       XYZ-
    <br>        Link-
    <br>    -Spells
    <br>    -Traps
    <br>        Skill Drain
    <br>        Rivalry Of The Warlords
    <br>        Royal Decree
    <br>        Gozen Match
    <br>        Dimensional Barrier(Fuck You Crispy)
    <br>   ======Limited======
    <br>    Monsters-
    <br>        -Main Deck Monsters
    <br>        -Ritual Monsters
    <br>   Extra Deck Monsters-
    <br>       Fusion-
    <br>       Synchro-
    <br>       XYZ-
    <br>       Link-
    <br>   -Spells
    <br>   -Traps
    <br>======Semi Limited======
    <br>    Monsters-
    <br>        -Main Deck Monsters
    <br>        -Ritual Monsters
    <br>    Extra Deck Monsters-
    <br>        Fusion-
    <br>        Synchro-
    <br>        XYZ-
    <br>        Link-
    <br>    -Spells
    <br>    -Traps
    </p>
    </div>
    <div class="container" *ngIf="!bannedCards">
        <div *ngFor="let card of banlist" class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://images.ygoprodeck.com/images/cards/{{card.cardid}}.jpg" alt="image" width="auto" height="100%">
          <div class="card-body">
            <h2 class="card-title">
              {{card.cardname}}
            </h2>
            <p class="card-text">

            </p>
            <a href="#" class="btn btn-primary">Banned</a>
          </div>
      </div>
      </div>
</div>

