.btn-outline-info{
    color: #5b24c2;
}
.fa-brands{
    color:white;
}
.offcanvas-body,.offcanvas-header{
    background-color: #212529;
}
li{
    color: white;
}
.btn-close{
    background-color: white;
}
