<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCommand" aria-controls="offcanvasCommand">
    Chat Commands
</button>
<div class="offcanvas offcanvas-bottom" data-bs-scroll="true" tabindex="-1" id="offcanvasCommand" aria-labelledby="offcanvasCommand">
<div class="offcanvas-header">
    <h3 class="offcanvas-title" id="offcanvasCommandLabel">Stream Commands</h3>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">

    <div *ngIf="commandMenuDisplayAlerts">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary">Defaults</button>
            <button type="button" class="btn btn-outline-primary" (click)="menuSwapAlerts()">Sound Alerts</button>
          </div>
          <p><br></p>
          <app-default-commands></app-default-commands>
    </div>
    <div *ngIf="!commandMenuDisplayAlerts">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-outline-primary" (click)="menuSwapAlerts()">Defaults</button>
            <button type="button" class="btn btn-primary">Sound Alerts</button>
          </div>
          <p><br></p>
        <app-sound-alerts></app-sound-alerts>
    </div>
</div>
</div> 