<div class="d-flex justify-content-center">
    <h2>Timer Menu</h2>
</div>
<div class="d-flex justify-content-center">
    <ul>
        <li><h4>Twitch Sub w/ Tier Multiplier (1x, 2x, 5x): 5 Minutes
            <a class="btn btn-outline-primary" href="https://www.twitch.tv/himediatv" target="_blank">Buy On Twitch</a></h4>
        </li>
        <li><h4>Twitch Follow: 1 Minutes</h4>
        </li>
        <li><h4>Twitch Cheer (per 100 bits): 3 Minutes
            <a class="btn btn-outline-primary" href="https://www.twitch.tv/himediatv" target="_blank">Buy On Twitch</a></h4>
        </li>
        <li><h4>Twitch Raid (per 10 Raiders): 1 Minutes
        </h4></li>
        <li><h4>Ko-Fi Donation (per $): 4 Minutes
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSubathonKofi" aria-controls="offcanvasSubathonKofi">
                Buy
            </button>
        </h4></li>
        <li><h4>Ko-Fi Subscription (per $): 7 Minutes 
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSubathonKofi" aria-controls="offcanvasSubathonKofi">
                Buy
            </button>
        </h4></li>

    </ul>
</div>
<!---Kofi Sidebar-->
<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasSubathonKofi" aria-labelledby="offcanvasSubathonKofi">
<div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasSubathonKofiLabel">Thank You For Your Support</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<!--Kofi Sidebar-->
<div class="offcanvas-body">
    <iframe id='kofiframe' src='https://ko-fi.com/himediatv/?hidefeed=true&widget=true&embed=true&preview=true' style='border:none;width:100%;padding:4px;background:#212529;' height='712' title='himediatv'></iframe>
</div>
</div> 

