
<div class="d-flex justify-content-center">
    <h1>Morning Coffee Is Now Newsfeed</h1>
    
</div>
<h2></h2>
<div class="d-flex justify-content-center">
    <iframe src="https://free.timeanddate.com/clock/i9575wku/fn5/fs26/ftbi/tt1" frameborder="0" width="344" height="33"></iframe>
</div>
<div class="d-flex justify-content-center">

</div>
<div class="d-flex justify-content-center">
    <h6>{{quotes.data[0].quoteText}}</h6>    
</div>


<div class="container">
    <div class="row">
        <div class="col-md-5 card shadow-sm p-3 mb-5 bg-white rounded">
            <div class="d-flex justify-content-center">
                <h4>News News</h4>
            </div>
            <div>    
                <app-newsfeed-news ></app-newsfeed-news>
            </div>
        </div>
        <div class="col-md-5 card shadow-sm p-3 mb-5 bg-white rounded">
            <div class="d-flex justify-content-center">
                <h4>Gaming News</h4>
            </div>
            <div>    
                <app-newsfeed-gaming></app-newsfeed-gaming>
            </div>
        </div>
        <div class="col-md-5 card shadow-sm p-3 mb-5 bg-white rounded">
            <div>   
                <div class="d-flex justify-content-center">
                    <h4>News Podcast</h4>
                  </div>
                  <app-himediatv-news-update></app-himediatv-news-update>
            </div> 
        </div>
        <div class="col-md-5 card shadow-sm p-3 mb-5 bg-white rounded">
            <div>   
                <div class="d-flex justify-content-center">
                    <h4>Gaming News Podcast</h4>
                  </div>
                  <app-nerdnews></app-nerdnews>
            </div> 
        </div>
    </div>
    <div class="row">
        
    </div>
</div>