<div class="d-flex justify-content-center">
    <h4>Nerd News</h4>
  </div>
  <iframe width="100%" height="315" src="https://www.youtube.com/embed/videoseries?si=BfojZG1_tftfJbaL&amp;list=PLrdsRuM2eycXK55nu-H-n0xma7JU-COb2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <a href="https://himedia.gg/himediaheadlines" class="btn btn-primary">View Podcast</a>
