
<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center">
            <h1>If I Posted The Link Here I'm Gone</h1>
        </div>
        <iframe width="100%" height="720" src="https://www.youtube.com/embed/ESgstXC-b4M?si=sq5FvbzqwzB3wfAs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="gap"></div>
    <div class="row">
        <div class="d-flex justify-content-center">
            <h2>Last Will And Testament</h2>
        </div>
        
        <p>
            The above video is most certainly out of date by the time this comes out and you can consider this web page to be my last will and testament 
            <br><br>
I first want to start by stating my sincerest apologies to all of my family and friends for my actions here They were selfish and I was in the throes of at the for if I still had the capacity to care about others feelings I would have triumphed over immeasurable suffering I was dealing with. 
<br><br>
To the love of my life Meadow, I am sorry for my selfish act, I am sorry for lying. I love you eternally and You were the last thing I thought of before I died. 
<br><br>
I'm sorry too all of my friends I am sorry to Jaquan, Mariah, Brian, Anthony, Declan, Czar, CJ, Ben, Tyler, Tom, Joel, Uriah, Vinny, Kyle, Sean, Douglas, Karen, Joanna, Ndidi, Cayne, Wil L, Amy, Blue, Shannon, Will B, Vincent, Reed, And Imani.
<br><br>
To Mark, my father and the man who raised me, I apologize for the absolute obscene amount of bullshit you're going to have to deal with. My mother will be a consolable and my sister, narcissistic cunt she is, will make this all about her. I'm sorry that you will not be able to mourn me effectively whilst trying to keep your family from falling apart. 
<br><br>
To Maddie Murphy, you are one of the cruelest people I've ever met, you do not have a good soul. Any kindness you show to others is purely self-serving and whilst I hope and there is not a domino effect after my death You are the only person who I hope does kill themselves after to make this world a better place and join our blood father in hell.
<br><br>
To Nicole and Gillian, sorry about the new full-time job of watching Meadow. She has said that she is going to wait however long it takes for people to think she's okay before killing herself in response to me killing myself so congratulations on the new unpaid internship. I feel bad that you have to deal with it but not enough to not kill myself so good luck. 
        </p>
    </div>
    <div class="gap"></div>
    <div class="row">
        <div class="d-flex justify-content-center">
            <h2>Bequeathments & My Remains</h2>
        </div>
        <p>
            Ownership of My YouTube channels and podcasts are left to Brian Ortega, May stewardship of this body of work be the reason you get off your ass and start making content on your own 
            <br><br>
Ownership of my discord are left to Cayne Hicks, You made having a community and building it worth it You were a dear friend and my only regret was not being able to give you a hug in real life 
<br><br>
Ownership of my steam account is left to whoever the fuck wants it
<br><br>
Ownership of remaining passwords in accounts is left to jaquan Jones for the purposes of distributing them to loved ones who want them. Sorry I'm saddling you with this but you're the best person for it in my opinion. 
<br><br>
The rest of my earthly possessions can be sold for funeral arrangements. If nobody wants the steam account you can sell that to it's got over a thousand video games on it so it's worth something
<br><br>
I want to be cremated, stick my ass next to Grandma, Grammy, and her husband under the guest bedroom bed. Let people have little urns of me to keep if they want What you do with my remains after their cremated is a little consequenced to me. I do ask to stick a little bit of my ashes in Momo and Niko's litter boxes for comedic effect
        </p>
    </div>
</div>