<nav class="navbar bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/himedialogo.png" 
            alt="" width="30" height="24">
        </a>  
        <app-socials></app-socials>
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasHeader" aria-controls="offcanvasHeader">
            |||
        </button>
        <!---SideBAr-->
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasHeader" aria-labelledby="offcanvasHeaderLabel">
        <div class="offcanvas-header">
            <h2 class="offcanvas-title" id="offcanvasHeaderLabel">Welcome To HIMediaTV</h2>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <!--Sidebar Links-->
        <div class="offcanvas-body">
            <li><a class="btn btn-primary"routerLink="./">Links</a></li>
            <li><a class="btn btn-primary" routerLink="./live">Watchbox </a></li>
            <li><button class="btn btn-primary " type="button" routerLink="./podcasts">Podcasts</button></li>
            <li><button class="btn btn-primary" type="button" routerLink="./thewinstoncup">The Winston Cup</button></li>
            <li><button class="btn btn-primary" type="button" routerLink="./appDir">App Directory</button></li>
            <app-live></app-live>
        </div>
        </div>  
    </div>
  </nav>
  