.nav-link,h2 {
    color: white;
}

.btn-primary{
    margin-bottom: 1em;
    display: inline-block;
}

.navbar{
    margin-bottom: 4%;
}
li {
    list-style-type:none;
}
.offcanvas-body,.offcanvas-header{
    background-color: #212555;
}
.btn-close{
    background-color: white;
}