<nav class="navbar bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/himedialogo.png" 
            alt="" width="30" height="24">
        </a>  
        <app-socials></app-socials>
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
            |||
        </button>
        <!---SideBAr-->
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Welcome To HIMediaTV</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <!--Sidebar Links-->
        <div class="offcanvas-body">
            <li><a class="btn btn-primary"routerLink="links">Links</a></li>
            <li><a class="btn btn-primary" routerLink="appDir">App Directory</a></li>
            <li><a class="btn btn-primary" routerLink="thewinstoncup">The Winston Cup</a></li>
            
            <li>
                <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Other Projects</button>
                <ul class="dropdown-menu">

                </ul>
              </div>
            </li>
              <app-live></app-live>
        </div>
        </div>  
    </div>
  </nav>
  