


<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Watch Previous Winston Cups</h2>
            <iframe
                width="100%"
                height="80%"
                src="https://www.youtube.com/embed/videoseries?si=sqSAy-uoVrmsCQHq&amp;list=PLrdsRuM2eycWTSNF10ivDKvcw8TcxGnwz"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen>
            </iframe>
        </div>
        <div class="col-md-4">
            <h3>Tourny Is Hosted On <a href="https://discord.com/invite/gJbQ4Dvz76" target="_blank">Discord</a></h3>
            <a class="btn btn-primary" href="https://discord.com/invite/gJbQ4Dvz76" target="_blank" width="100%">Sign Up</a>

            <h1>Formats:</h1>
            <h2>
              Classic:
              <h3>Follows Standard MD Banlist + The Winston Cup Banlist </h3>
          </h2>
            <h2>
                Meta Sheep:
                <h3>Follows Standard MD Banlist</h3>
            </h2>
            <h2>NR Plus:
              <h3>Follows Standard MD Banlist <br>
                  The Winston Cup Banlist<br>
                  Normal & Rare Cards Only But You Can Include 3 URs & 6 SRs in the main deck<br>
                  AND 2 URs and 4 SRs in the Extra<br>
                  OR 4 URs & 8 SRs In The Main Deck if there are no URs Or SRs In The Extra Deck
          </h3>
          </h2>
            <h2>
                War Crimes:
                <h3>Unlimited</h3>
            </h2>

        </div>

    </div>
    <div class="row">


    </div>
</div>
        <button class="btn btn-primary" (click)="onClickBanlist()">Banlist</button>
        <button class="btn btn-primary" (click)="onClickLeaderboard()">Leaderboard</button>
        <app-hotubanlist *ngIf="banlistDisplay"></app-hotubanlist>
        <app-crown-leaderboard *ngIf="leaderboardDisplay"></app-crown-leaderboard>




