<a class="btn btn-primary" href="https://discord.com/invite/gJbQ4Dvz76" target="_blank">Sign Up</a>
<a class="btn btn-primary" routerLink="../hotubanlist">Banlist</a>
<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeaderBoard" aria-controls="offcanvasLeaderBoard">
    LeaderBoard
</button>


<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Watch Previous Winston Cups</h2>
            <iframe
                width="560"
                height="315" 
                src="https://www.youtube.com/embed/videoseries?si=sqSAy-uoVrmsCQHq&amp;list=PLrdsRuM2eycWTSNF10ivDKvcw8TcxGnwz" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" 
                allowfullscreen>
            </iframe>
        </div>
        <div class="col-md-4">
            <h3>Tourny Is Hosted On <a href="https://discord.com/invite/gJbQ4Dvz76" target="_blank">Discord</a></h3>
            <h1>Formats:</h1>
            <h2>Standard:
                <h3>Follows Standard MD Banlist <br>
                    The Winston Cup Banlist<br>
                    Normal & Rare Cards Only But You Can Include 3 URs & 6 SRs in the main deck<br> 
                    AND 2 URs and 4 SRs in the Extra<br> 
                    OR 4 URs & 8 SRs In The Main Deck if there are no URs Or SRs In The Extra Deck
            </h3>
            </h2>

            <h2>
                Classic:
                <h3>Follows Standard MD Banlist + The Winston Cup Banlist </h3>
            </h2>
            <h2>
                Meta Sheep:
                <h3>Follows Standard MD Banlist</h3>
            </h2>
            <h2>
                War Crimes:
                <h3>Unlimited</h3>
            </h2>
        </div>
    </div>
</div>
<app-hotubanlist></app-hotubanlist>


<!---SideBAr-->
<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasLeaderBoard" aria-labelledby="offcanvasLeaderBoardLabel">
<div class="offcanvas-LeaderBoard">
    <h2 class="offcanvas-title" id="offcanvasLeaderBoardLabel">TWC Leaderboard</h2>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<!--Sidebar Links-->
<div class="offcanvas-body">
    <ol *ngFor="let player of leaderboard">
        <li>{{player.name}}</li>
    </ol>
    
    
      <app-live></app-live>
</div>