<h1>Welcome To The MBE Index</h1>
<h2>Methodology</h2>
<p>
  Track the sum of store brand milk bread and eggs from middle/low income super markets in the 19713 zipcode
</p>
<a href="https://docs.google.com/spreadsheets/d/1_apmmz2Be9-t40xQAFqoU6q0B94uL0moYbsBIMEZVxM/edit?usp=sharing" target="_blank">
  <button class="btn btn-primary" >Data Set</button>
</a>
<div class="card" style="width: 100%;">
  <div class="card-body">
      <h2 class="card-title">The Average Price Of Milk, Bread, & Eggs Is: </h2>
      <iframe width="371" height="auto" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vR-h6sgaMuHr0Khi8kJySN4SnlzW8w0c0vJ7OqWfuOmb2oD_SoEd35Mqx4WoG68nYlg_Qr6N1qT6R5y/pubchart?oid=464318886&amp;format=image"></iframe>
    </div>
</div>
<p>
  <br>
</p>
<h2>Breakdown</h2>
<iframe width="{{mobWidth}}" height="{{mobHeight}}" seamless frameborder="0" scrolling="yes" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vR-h6sgaMuHr0Khi8kJySN4SnlzW8w0c0vJ7OqWfuOmb2oD_SoEd35Mqx4WoG68nYlg_Qr6N1qT6R5y/pubchart?oid=81898892&amp;format=image"></iframe>


