<div class="col-md-6">
    <div class="d-flex justify-content-center">
        <h2>Interaction Menu</h2>
    </div>
    <a href="https://interact.crowdcontrol.live/#/twitch/103310549/coins" class="btn btn-primary" type="button" target="_blank">
        Crowd Control Dashboard
    </a> 
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCommand" aria-controls="offcanvasCommand">
            Chat Commands
    </button>
    <div class="offcanvas offcanvas-bottom" data-bs-scroll="true" tabindex="-1" id="offcanvasCommand" aria-labelledby="offcanvasCommand">
        <div class="offcanvas-header">
            <h3 class="offcanvas-title" id="offcanvasCommandLabel">Stream Commands</h3>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul>
                <li><strong>!fukedurmom</strong>: sing the hook from akintoye's diss track</li>
                <li><strong>!fingbs</strong>: sings fucking bs from some random tiktok video, but the harmony is nice</li>
                <li><strong>!quack</strong>: Make Winston Talk</li>
                <li><strong>!howsway</strong>: make the bot say "how sawy" like the nazi did on sway in the morning</li>
                <li><strong>!huh</strong>: play the huh cat sound from tiktok</li>
                <li><strong>!dontworry</strong>: Dont Worry Be Happy x Hurt mash up </li>
                <li><strong>!antifa</strong>: Play The Byte From Porco Rosso when he says "id rather be a pig then a fascist</li>
                <li><strong>!imindanger</strong>: play ralph wiggums says im in danger</li>
                <li><strong>!notherapy</strong>: say "no amount of therapy will ever make this ok"</li>
            </ul>
        </div>
    </div> 

        <ul>
            <li>
                <h4>Give The Children(Kitties) A Cat Treat: 
                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasKofiTreat" aria-controls="offcanvasKofiTreat">
                    Send
                </button>
                </h4>
                <!---KofiTreat Sidebar-->
                <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasKofiTreat" aria-labelledby="offcanvasKofiTreat">
                    <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasKofiTreatLabel">Buy Below</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <!--KofiTreat Sidebar-->
                    <div class="offcanvas-body">
                        <ul>
                            <iframe src="https://ko-fi.com/s/c9fba3622a" width="100%" height="{{mobHeight}}" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
                        </ul>
                    </div>
                </div> 
            </li>
            <li>
                <h4>Force Evan To Take A Tapeworm Shot: 
                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasKofiTapeworm" aria-controls="offcanvasKofiTapeworm">
                    Send
                </button>
                </h4>
                <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasKofiTapeworm" aria-labelledby="offcanvasKofiTapeworm">
                    <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasKofiTapewormLabel">Buy Below</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul>
                            <iframe src="https://ko-fi.com/s/d578753598" width="100%" height="{{mobHeight}}" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
                        </ul>
                    </div>
                </div> 
            </li>
        </ul>
</div>