
<div class="container ">
    <div class="row">
        <div class="d-flex justify-content-center">
            <h2>Hit Our Links</h2>
        </div>
        <div class="d-flex justify-content-center">
            <a class="btn btn-primary" href="https://discord.gg/gJbQ4Dvz76" target="_blank">Click Here To Join The Discord Community <i class="fa-brands fa-discord"></i></a>

        </div>
        <div class="row">
            <div class="d-flex justify-content-center">
                <a class="btn btn-primary" routerLink="../donate"><i class="fa-solid fa-circle-dollar-to-slot"></i></a>
                <a class="btn btn-primary" href="https://www.youtube.com/channel/UCRkoBVgvP1Bu_UK5SGMlO_w" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                <a class="btn btn-primary" href="https://discord.gg/gJbQ4Dvz76" target="_blank"><i class="fa-brands fa-discord"></i></a>
                <a class="btn btn-primary" routerLink="podcasts"><i class="fa-solid fa-podcast"></i></a>
            </div>
            <div class="d-flex justify-content-center">
                <a class="btn btn-primary" href="https://www.himediamarketplace.com/" target="_blank"><i class="fa-solid fa-shop"></i></a>
                <a class="btn btn-primary" href="https://github.com/flyaway12345" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a class="btn btn-primary" href="https://www.instagram.com/himediatv/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a class="btn btn-primary" href="https://www.tiktok.com/@himediatv" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
            </div>
            <div class="d-flex justify-content-center">
                <a class="btn btn-primary" href="https://www.facebook.com/HIMediaTV/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a class="btn btn-primary" href="https://twitter.com/HIMediaTV" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                <a class="btn btn-primary" href="https://www.twitch.tv/himediatv" target="_blank"><i class="fa-brands fa-twitch"></i></a>
                <a class="btn btn-primary" href="https://bsky.app/profile/himedia.gg" target="_blank"><i class="fa-solid fa-square-full"></i></a>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <img src="assets/hilogo.png" alt="" width="50px" height="50px">
        </div>
        <div class="d-flex justify-content-center">
            <a class="btn btn-primary" routerLink="donate">Donate <i class="fa-solid fa-circle-dollar-to-slot"></i></a>
        </div>
        <div class="d-flex justify-content-center">
            <a class="btn btn-primary" routerLink="live">Watch Live <i class="fa-solid fa-microphone-lines"></i></a>
        </div>
        <div class="d-flex justify-content-center">
            <a class="btn btn-primary" routerLink="blog">Blog <i class="fa-solid fa-pen"></i></a>
        </div>
        <div class="d-flex justify-content-center">
            <a class="btn btn-primary" routerLink="morning-coffee"><i class="fa-solid fa-mug-hot"></i></a>
        </div>
        <div class="row">
            <div class="col-md-6">
                <app-live></app-live>
            </div>
            <div class="col-md-6">
                <app-discord></app-discord>
            </div>
        </div>
        <div class="row">
            <app-app-directory></app-app-directory>
        </div>
    </div>
</div>
