<div class="d-flex justify-content-center">
    <h4>Psychedelic Space Cadet</h4>
  </div>
<iframe width="100%" height="315" src="https://www.youtube.com/embed/videoseries?si=OQ0VHDe1XnuM8nN5&amp;list=PLrdsRuM2eycXXlgO-T-I5qiu9151v8FSn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  <a  href="https://open.spotify.com/show/0gToZdi81izk9aprruasNM?nd=1&dlsi=0c5f3bb4cfe04665" class="btn btn-primary">Spotify</a>
  <a href="https://iheart.com/podcast/287802893/" class="btn btn-primary">iHeartRadio</a>

