<div *ngIf="formatSwitch">
  <a class="btn btn-primary" (click)="formatSwitchMethod()">Switch To Audio</a>
<iframe width="100%" height="315" src="https://www.youtube.com/embed/videoseries?si=OQ0VHDe1XnuM8nN5&amp;list=PLrdsRuM2eycXXlgO-T-I5qiu9151v8FSn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<div *ngIf="!formatSwitch">
  <a class="btn btn-primary" (click)="formatSwitchMethod()">Switch To Video</a>
<iframe src='https://widget.spreaker.com/player?show_id=6696976&theme=dark&playlist=show&playlist-continuous=true&chapters-image=true' width='100%' height='400px' title='Psychedelic Space Cadet' frameborder='0'></iframe>
</div>
<div>
  <h2>
    Or Listen On Your Favorite Podcasting App:
  </h2>
</div>
  <a href="https://www.spreaker.com/podcast/psychedelic-space-cadet--6696976" class="btn btn-primary" target="_blank" >Spreaker</a>
  <a href="https://podcasts.apple.com/us/podcast/psychedelic-space-cadet/id1829528995" class="btn btn-primary" target="_blank">Apple</a>
  <a  href="https://open.spotify.com/show/0gToZdi81izk9aprruasNM?nd=1&dlsi=0c5f3bb4cfe04665" class="btn btn-primary" target="_blank">Spotify</a>
  <a href="https://iheart.com/podcast/287802893/" class="btn btn-primary" target="_blank">iHeartRadio</a>
  <a href="https://music.amazon.com/podcasts/27e52f1f-aa5e-4b02-8eca-ec7c54b38fe1" class="btn btn-primary" target="_blank" >Amazon Music</a>
  <a href="https://music.amazon.com/podcasts/27e52f1f-aa5e-4b02-8eca-ec7c54b38fe1" class="btn btn-primary" target="_blank" >Audible</a>
  <a href="https://castbox.fm/channel/id6693547" class="btn btn-primary" target="_blank" >Castbox</a>
  <a href="https://www.deezer.com/show/1002073011" class="btn btn-primary" target="_blank" >Deezer</a>
  <a href="https://podcastaddict.com/podcast/psychedelic-space-cadet/6025316" class="btn btn-primary" target="_blank" >Podcast Addict</a>
  <a href="https://www.podchaser.com/podcasts/psychedelic-space-cadet-6168005" class="btn btn-primary" target="_blank" >Podchaser</a>
  <a href="#" class="btn btn-primary" target="_blank" hidden>JioSaavn</a>
