<div class="container">
  <div class="d-flex justify-content-center">
    <h2>Audiodex</h2>
  </div>
  <iframe src="https://widget.spreaker.com/player?show_id=4755747&theme=light&playlist=show&cover_image_url=https%3A%2F%2Fd1bm3dmew779uf.cloudfront.net%2Fcover%2F5f9d963fe82e8167809f9f44f6150e0c.jpg" width="100%" height="400px" frameborder="0"></iframe>
  <div class="d-flex justify-content-center">
    <a class="btn btn-primary" href="https://flyaway12345.github.io/Audiodex/" target="_blank">Pokedex Search</a>
  </div>
</div>


<div class="container" *ngIf="audiodexSearchReady">
    <div class="input-group mb-3">
      <div class="d-flex justify-content-center">
        <span class="input-group-text" id="pokedex-input">#</span>
        <!-- <input type="number" class="form-control" placeholder="258" aria-label="entry please" aria-describedby="pokedex-input" value="258" [(ngModel)]="inputID"> -->
        <a class="btn btn-primary" target="_blank" (click)="updatePokedex()">Refresh</a>
        
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <p>You May Have To Hit Refresh A Couple Times</p>
    </div>
    
    <div class="d-flex justify-content-center">
    <div class="col-3 card" style="width: 45%; margin: 1em;" >
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{pokemonID}}.png" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">{{pokemonDisplayName }}</h5>
          <p>{{pokemonFlavorText}}</p>
          <a href="https://www.spreaker.com/user/haggardinnovations/{{pokemonID}}-{{pokemonName}}" target="_blank">
            <button class="btn btn-primary">Audiodex Entry</button>
            <a href="https://bulbapedia.bulbagarden.net/wiki/{{pokemonName}}_(Pok%C3%A9mon)" target="_blank">
              <button class="btn btn-primary">Bulbapedia</button>
            </a>
          </a>
        </div>    
      </div> 
    </div> 
</div> 