<div class="d-flex justify-content-center">
    <h1>-Hall Of Shame-</h1>
</div>
<div class="d-flex justify-content-center">
    <h2>Bots, Scammers, & Solicitors</h2>
</div>
<div class="d-flex justify-content-center">
    <h5>list deliniated with commas for copy/paste compatibility with your blacklist</h5>
</div>
<br>
<br>
<br>
<p>
    lindamartin1,kianavtuber,rightwingcv,
    confidencestream,maverickcarteer,gladdraf,
    readableshutdo,dakidlosblackmysoul,superfluousva,
    frenziedcouple,eternalspacebear98y,goremateoyf,
    offermvp,handsnd,lifnars,sethan_123,leeyenditaa,ivanparkin,
    jamesbryanzanette,lebozzniak67,kytokudo9ho65,benddover39,
    dedekagung,queijo321123,juumixq,h0ub4_,heresmuscle,gregmc20202,ohygoor,marciochapa,
    xeruvim,ctheantisocial32175,sforever188,jmk14091982k2,juli­anac­lary­1,chika_ash,madison_07,
    strawberry312,QueenAlexia,helensnieves,haze­lrel­ia29,maverick1468,james_miclar11,
    skylargreen01_19367,diana06028,zoyi­amar­iss1,zoew­illi­am86


</p>