<div class="d-flex justify-content-center">
    <h1>-Hall Of Shame-</h1>
</div>
<div class="d-flex justify-content-center">
    <h2>Bots, Scammers, Solicitors & Banned Users</h2>
</div>

<div class="d-flex justify-content-center">
    <a class="btn btn-primary" href="https://raw.githubusercontent.com/flyaway12345/HIMediaHub/main/src/app/modules/hallofshame/data/shameList.json" target="_blank">JSON</a>
</div>
<br>
<br>
<br>
    

    <button class="btn btn-primary" *ngIf="card" (click)="onClick()">Text View</button>
    <button class="btn btn-outline-primary" *ngIf="card">Image View</button>
    <button class="btn btn-outline-primary" *ngIf="!card">Text View</button>
    <button class="btn btn-primary" *ngIf="!card" (click)="onClick()">Card View</button>
    <p>
        <br>
    </p>
    <div *ngIf="card">
        <p *ngFor="let user of listOfNames">{{user.name}},</p>
    </div>
    
    
    
    <div class="container" *ngIf="!card">
        <div *ngFor="let user of listOfNames" class="card" style="width: auto;">
          <div class="card-body">
            <h2 class="card-title">
              {{user.name}}
            </h2>
            <h4><strong>Date Added:</strong> {{user.dateBanned}} <br></h4>
            <h4><strong>Crime:</strong> {{user.reasonForBan}} <br></h4>
            <a href="https://www.twitch.tv/{{user.name}}" class="btn btn-primary twitch" target="_blank"><i class="fa-brands fa-twitch"></i></a>
            <a href="https://www.kick.com/{{user.name}}" class="btn btn-primary kick" target="_blank"><i class="fa-brands fa-kickstarter-k"></i></a>
            <a href="https://www.youtube.com/{{user.name}}" class="btn btn-primary youtube" target="_blank"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://discordlookup.com/user/{{user.discordUserID}}" class="btn btn-primary discord" target="_blank"><i class="fa-brands fa-discord"></i></a>
            <a href="https://www.instagram.com/{{user.name}}" class="btn btn-primary instagram" target="_blank"><i class="fa-brands fa-instagram"></i></a>
          </div>
      </div>
      </div>