<div class="d-flex justify-content-center">
    <h1>-Hall Of Shame-</h1>
</div>
<div class="d-flex justify-content-center">
    <h2>Bots, Scammers, & Solicitors</h2>
</div>

<div class="d-flex justify-content-center">
    <a class="btn btn-primary" href="https://raw.githubusercontent.com/flyaway12345/HIMediaHub/main/src/app/modules/hallofshame/data/shameList.json" target="_blank">JSON</a>
</div>
<br>
<br>
<br>
    

    <button class="btn btn-primary" *ngIf="!card" (click)="onClick()">Text View</button>
    <button class="btn btn-outline-primary" *ngIf="!card">Image View</button>
    <button class="btn btn-outline-primary" *ngIf="card">Text View</button>
    <button class="btn btn-primary" *ngIf="card" (click)="onClick()">Card View</button>

    <div *ngIf="card">
        <p *ngFor="let user of listOfNames">{{user.name}},</p>
    </div>
    
    
    
    <div class="container" *ngIf="!card">
        <div *ngFor="let user of listOfNames" class="card" style="width: auto;">
          <div class="card-body">
            <h2 class="card-title">
              {{user.name}}
            </h2>
          </div>
      </div>
      </div>