<div class="d-flex justify-content-center">
  <h2>Please Make Any One Time Or Recurring Payments Below:</h2>
</div>
<iframe id='kofiframe' src='https://ko-fi.com/himediatv/?hidefeed=true&widget=true&embed=true&preview=true' style='border:none;width:100%;padding:4px;background:#f9f9f9;' height='712' title='himediatv'></iframe>
<div class="d-flex justify-content-center">
  <h2>
    If You Are Looking For the Perks That Come With A Monthly Sub Click Here:</h2>
</div>
<div class="d-flex justify-content-center">
  <a class="btn btn-primary" routerLink="/perks">Become A Patron <i class="fa-solid fa-circle-dollar-to-slot"></i></a>
</div>
