<div class="d-flex justify-content-center">
    <h4>The Paldeck Files</h4>
  </div>
  <iframe width="100%" height="315" src="https://www.youtube.com/embed/videoseries?si=7l4UqR_rkc6upZlR&amp;list=PLrdsRuM2eycWByzkfprdjAwKDIcQdpysq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  <a  href="https://open.spotify.com/show/6G4t8OuWi4qhrMuNFjOuyU?nd=1&dlsi=f96dc37ab0e740bb" class="btn btn-primary" target="_blank">Spotify</a>
  <a href="https://iheart.com/podcast/288264851/" class="btn btn-primary" target="_blank">iHeartRadio</a>
     <a href="https://podcasts.apple.com/us/podcast/palworld-files/id1727587685" class="btn btn-primary" target="_blank">Apple</a>
