<div *ngIf="formatSwitch">
  <a class="btn btn-primary" (click)="formatSwitchMethod()">Switch To Audio</a>
  <iframe width="100%" height="315" src="https://www.youtube.com/embed/videoseries?si=7l4UqR_rkc6upZlR&amp;list=PLrdsRuM2eycWByzkfprdjAwKDIcQdpysq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<div *ngIf="!formatSwitch">
  <a class="btn btn-primary" (click)="formatSwitchMethod()">Switch To Video</a>
<iframe src='https://widget.spreaker.com/player?show_id=6072201&theme=dark&playlist=show&playlist-continuous=true&chapters-image=true' width='100%' height='400px' title='#Palworld Files' frameborder='0'></iframe>
</div>
<div>
  <h2>
    Or Listen On Your Favorite Podcasting App:
  </h2>
</div>
  <a href="#" class="btn btn-primary" target="_blank">Spreaker</a>
  <a href="https://podcasts.apple.com/us/podcast/palworld-files/id1727587685" class="btn btn-primary" target="_blank">Apple</a>
  <a  href="https://open.spotify.com/show/6G4t8OuWi4qhrMuNFjOuyU?nd=1&dlsi=f96dc37ab0e740bb" class="btn btn-primary" target="_blank">Spotify</a>
  <a href="https://iheart.com/podcast/288264851/" class="btn btn-primary" target="_blank">iHeartRadio</a>
  <a href="#" class="btn btn-primary" target="_blank" hidden>Amazon Music</a>
  <a href="#" class="btn btn-primary" target="_blank" hidden>Audible</a>
  <a href="#" class="btn btn-primary" target="_blank" hidden>Castbox</a>
  <a href="#" class="btn btn-primary" target="_blank" hidden>Deezer</a>
  <a href="#" class="btn btn-primary" target="_blank" hidden>Podcast Addict</a>
  <a href="#" class="btn btn-primary" target="_blank" hidden>Podchaser</a>
  <a href="#" class="btn btn-primary" target="_blank" hidden>JioSaavn</a>
