<a class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasKofi" aria-controls="offcanvasKofi" ><i class="fa-solid fa-circle-dollar-to-slot"></i></a>
<a class="btn btn-primary" href="https://www.youtube.com/channel/UCRkoBVgvP1Bu_UK5SGMlO_w?sub_confirmation=1" target="_blank"><i class="fa-brands fa-youtube"></i></a>
<a class="btn btn-primary" href="https://discord.gg/gJbQ4Dvz76" target="_blank"><i class="fa-brands fa-discord"></i></a>
<a class="btn btn-primary" href="https://himedia.gg/merch"><i class="fa-solid fa-shop"></i></a>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasKofi" aria-labelledby="offcanvasKofi">
    <div class="offcanvas-header">
        <h2 class="offcanvas-title" id="offcanvasKofiLabel">Thank You For Your Support!</h2>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <!--Kofi Sidebar-->
    <div class="offcanvas-body">
        <iframe id='kofiframe' src='https://ko-fi.com/himediatv/?hidefeed=true&widget=true&embed=true&preview=true' style='border:none;width:100%;padding:4px;background:#212529;' height='712' title='himediatv'></iframe>
    </div>
    </div> 