<div *ngIf="formatSwitch">
  <a class="btn btn-primary" (click)="formatSwitchMethod()">Switch To Audio</a>
  <iframe width="100%" height="315" src="https://www.youtube.com/embed/videoseries?si=FbI3kPcbSZ9v2u_Z&amp;list=PLrdsRuM2eycUYUziz577Ljpd4U30WzluF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<div *ngIf="!formatSwitch">
  <a class="btn btn-primary" (click)="formatSwitchMethod()">Switch To Video</a>
<iframe src='https://widget.spreaker.com/player?show_id=6697162&theme=dark&playlist=show&playlist-continuous=true&chapters-image=true' width='100%' height='400px' title='Little Black Book' frameborder='0'></iframe>
</div>

<div>
  <h2>
    Or Listen On Your Favorite Podcasting App:
  </h2>
</div>
  <a href="https://www.spreaker.com/podcast/little-black-book--6697162" class="btn btn-primary" target="_blank" >Spreaker</a>
  <a href="https://podcasts.apple.com/us/podcast/little-black-book/id1835792097" class="btn btn-primary" target="_blank">Apple</a>
  <a  href="https://open.spotify.com/show/1cGdbHS9CynDE5eEfuYrKD" class="btn btn-primary" target="_blank">Spotify</a>
  <a href="https://iheart.com/podcast/288264799/" class="btn btn-primary" target="_blank">iHeartRadio</a>
  <a href="https://music.amazon.com/podcasts/5de0f25e-5eb2-4f2b-a22f-f6a47394a8e2" class="btn btn-primary" target="_blank">Amazon Music</a>
  <a href="https://music.amazon.com/podcasts/5de0f25e-5eb2-4f2b-a22f-f6a47394a8e2" class="btn btn-primary" target="_blank">Audible</a>
  <a href="https://castbox.fm/channel/id6728957#" class="btn btn-primary" target="_blank" >Castbox</a>
  <a href="https://www.deezer.com/show/1002143311" class="btn btn-primary" target="_blank" >Deezer</a>
  <a href="https://podcastaddict.com/podcast/little-black-book/6025624" class="btn btn-primary" target="_blank" >Podcast Addict</a>
  <a href="#" class="btn btn-primary" target="_blank" hidden>Podchaser</a>
  <a href="https://www.jiosaavn.com/shows/Little-Black-Book/1/nyWNJFnASng_" class="btn btn-primary" target="_blank" >JioSaavn</a>
