<a class="btn twitch"  target="_blank" >
    <i class="fa-brands fa-twitch" (click)="playerSwitchTwitch()"></i>
</a>
<a class="btn kick" target="_blank" >
    <i class="fa-brands fa-kickstarter-k" (click)="playerSwitchKick()"></i>
</a>
<a class="btn trovo">
    <img class="trovo-icon" src="https://raw.githubusercontent.com/flyaway12345/HIMediaHub/main/src/app/app/header/live/assets/trovologo.png" (click)="playerSwitchTrovo()">
</a>
<a class="btn youtube" href="https://www.youtube.com/channel/UCRkoBVgvP1Bu_UK5SGMlO_w/live" target="_blank">
    <i class="fa-brands fa-youtube"></i>
</a>

<div *ngIf="isTwitch">     
    <app-twitch></app-twitch>
</div>
<div *ngIf="isKick" >
    <app-kick></app-kick>
</div>
<div *ngIf="isTrovo" >
    <app-trovo></app-trovo>
</div>
