 <div class="container">
    <div style="padding:100px" markdown [attr.src]="openArticle"></div>

    <div *ngFor="let post of blogData" class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{post.img}}" alt="image" width="auto" height="100%">
      <div class="card-body">
        <h2 class="card-title">
          {{post.title}}
        </h2>
        <p class="card-text">
          
        </p>
        <a (click)="post.file == openArticle" class="btn btn-primary" >Read More</a>
      </div>
  </div>
  </div>