 <div class="container">
    <div class="row">
        <div class="col-md-4">
            <img [src]="activeImage" alt="" style="width: 18rem;">
            <markdown [data]="markdown"></markdown>
        </div>
        <div class="col-md-8">
            <div *ngFor="let posts of blogData" class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{posts.img}}" alt="image" width="auto" height="100%">
                <div class="card-body">
                  <h2 class="card-title">
                    {{posts.title}}
                  </h2>
                  <p class="card-text">
                    
                  </p>
                  <a (click)="renderMarkdown(posts.title,posts.img)" class="btn btn-primary" >Read More</a>
                </div>
            </div>
        </div>
    </div>


  </div>