
<div class="d-flex justify-content-center">
  <h2>Thank You For Supporting HIMediaTV!</h2>
  <br>
</div>

<div class="container-fluid">

  <div class="row">
      <div class="col-md-4">
        <div class="d-flex justify-content-center">
          <h4>Subscribe Monthly To Gain Access To The Following Perks*</h4>
          <br>
        </div>
        <ul>
          <li>Early Access Videos</li>
          <li>Early Access Articles</li>
          <li>Exclusive Videos</li>
          <li>Exclusive Articles</li>
          <li>Exclusive Roles</li>
          <li>Expanded Discord Permissions</li>
          <li>Sub Only Discord Chat/Voice</li>
          <li>Sub Only Discord Voice</li>
          <li>Garenteed Slot In The Winston Cup</li>
          <li>Sub Only D&D Oneshots</li>
          <li>Choose What HIMediaTV Streams For An Hour</li>
          <li>Make Submissions To The HIMediaTV Game Awards</li>
          <li>Access To The HIMediaTV Soundboard</li>
          <li>Supporter Only Raffle</li>
          <li>Supporter Only Minecraft Server</li>
        </ul>
        <h5>*Perks are only accessable through discord, make sure your discord is connected to the service you are subscribed to.</h5>
      </div>
      <div class="col-md-4">
        <a class="btn btn-primary" width="auto" href="https://patreon.com/himedia" target="_blank">Patreon</a>
        <a class="btn btn-primary" width="auto" href="https://discord.com/servers/hi-media-426459490725134339" target="_blank">Discord Sub</a>
        <a class="btn btn-primary" width="auto" href="https://www.twitch.tv/subs/himediatv" target="_blank">Twitch Sub</a>
        <a class="btn btn-primary" width="auto" href="https://ko-fi.com/himediatv" target="_blank">Ko-Fi</a>
        <iframe id='kofiframe' src='https://ko-fi.com/himediatv/?hidefeed=true&widget=true&embed=true&preview=true' style='border:none;width:100%;padding:4px;background:#f9f9f9;' height='712' title='himediatv'></iframe>
      </div>
      <div class="col-md-4">
          <app-live-mobile></app-live-mobile>
      </div>

</div>

