.youtube {
    background-color: #FF0000;
}
.kick {
    background-color: #00e701;
}
.twitch {
    background-color: #5b24c2;
}
.btn-outline-info{
    color: #5b24c2;
}
.fa-brands{
    color:white;
}
.offcanvas-body,.offcanvas-header{
    background-color: #212529;
}