<ul>
    <li>
        <h4>Force Evan To Take A Tapeworm Shot:
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasKofiTapeworm" aria-controls="offcanvasKofiTapeworm">
            Send
        </button>
        </h4>
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasKofiTapeworm" aria-labelledby="offcanvasKofiTapeworm">
            <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasKofiTapewormLabel">Buy Below</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul>
                    <iframe src="https://ko-fi.com/s/d578753598" width="100%" height="{{mobHeight}}" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
                </ul>
            </div>
        </div>
    </li>
</ul>
