


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Hit Our Links</h2>
            <img src="assets/hilogo.png" alt="" width="300" height="240">
            <h2>Welcome To HI Media</h2>
            <div class="row">
                <div class="col-md-4">
                    <a class="btn btn-primary" href="https://www.youtube.com/channel/UCRkoBVgvP1Bu_UK5SGMlO_w" target="_blank">Youtube</a>
                </div>
                <div class="col-md-4"> 
                    <a class="btn btn-primary" href="https://discord.com/servers/hi-media-426459490725134339" target="_blank">Discord</a>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-primary" href="https://www.himediamarketplace.com/" target="_blank">Webstore</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h2>Join Our Community! </h2>
            <iframe src="https://discord.com/widget?id=426459490725134339&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        </div>
        <div class="col-md-4">
            <h2>Live Watchbox</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/live_stream?channel=UCRkoBVgvP1Bu_UK5SGMlO_w" frameborder="0" allowfullscreen></iframe>
            <a class="btn btn-primary" href="https://www.youtube.com/@HIMediaTV/live" target="_blank">Chat</a>
        </div>    
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4"></div>
    </div>
</div>