


<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <img src="../assets/hilogo.png" alt="" width="300" height="240">
            <h2>Welcome To HI Media</h2>
            <div class="row">
                <div class="col-md-4">
                    <a class="btn btn-primary" href="https://www.youtube.com/channel/UCRkoBVgvP1Bu_UK5SGMlO_w" target="_blank">Youtube</a>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-primary" href="https://discord.com/servers/hi-media-426459490725134339" target="_blank">Discord</a>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-primary" href="https://www.himediamarketplace.com/" target="_blank">Webstore</a>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>    
    </div>
</div>