<ul>
    <li>
        <button type="button" class="btn btn-outline-secondary" id="liveToastBtn" (click)="onClickCopy('tip')">
            <i class="fa-solid fa-clipboard"></i>
        </button> 
        <strong> !tip</strong>
            : Open The Tip Page
    </li>
    <li>
        <button type="button" class="btn btn-outline-secondary" id="liveToastBtn" (click)="onClickCopy('sol')">
            <i class="fa-solid fa-clipboard"></i>
        </button>
        <strong> !sol</strong>
        : Send The HIMediaTV "No Solitciataion Policy" To Chat
    </li>
    <li>
        <button type="button" class="btn btn-outline-secondary" id="liveToastBtn" (click)="onClickCopy('bounty')">
            <i class="fa-solid fa-clipboard"></i>
        </button> 
        <strong> !bounty</strong>
            : Get A Link to The Bounty Board
    </li>
    <li>
        <button type="button" class="btn btn-outline-secondary" id="liveToastBtn" (click)="onClickCopy('charity')">
            <i class="fa-solid fa-clipboard"></i>
        </button>
        <strong> !charity</strong>
        : Link to support the current charity cause promoted bt HIMediaTV 
    </li>
    <li>
        <button type="button" class="btn btn-outline-secondary" id="liveToastBtn" (click)="onClickCopy('loss')">
            <i class="fa-solid fa-clipboard"></i>
        </button>
        <strong> !loss</strong>
        : Call Evan A Loser when he loses a game
    </li>
    <li>
        <button type="button" class="btn btn-outline-secondary" id="liveToastBtn" (click)="onClickCopy('discord')">
            <i class="fa-solid fa-clipboard"></i>
        </button>
        <strong> !discord</strong>
        : Send Link To Discord Invite
    </li>
    <li>
        <button type="button" class="btn btn-outline-secondary" id="liveToastBtn" (click)="onClickCopy('podcast')">
            <i class="fa-solid fa-clipboard"></i>
        </button>
        <strong> !podcast</strong>
        : Send Link To Podcasts By HIMediaTV  
    </li>
    <li>
        <button type="button" class="btn btn-outline-secondary" id="liveToastBtn" (click)="onClickCopy('twc')">
            <i class="fa-solid fa-clipboard"></i>
        </button>
        <strong> !twc</strong>
        : play ralph wiggums says im in danger
    </li>
    <li>
        <button type="button" class="btn btn-outline-secondary" id="liveToastBtn" (click)="onClickCopy('merch')">
            <i class="fa-solid fa-clipboard"></i>
        </button>
        <strong> !merch</strong>
        : get a link to the merch store"
    </li>
</ul>