<ul>
    <li>
        <button type="button" class="btn btn-outline-secondary" id="liveToastBtn" (click)="onClickCopy('redeem fukedurmom')">
            <i class="fa-solid fa-clipboard"></i>
        </button> 
        <strong> !redeem fukedurmom</strong>
            : sing the hook from akintoye's diss track
    </li>
    <li>
        <button type="button" class="btn btn-outline-secondary" id="liveToastBtn" (click)="onClickCopy('redeem fingbs')">
            <i class="fa-solid fa-clipboard"></i>
        </button>
        <strong> !redeem fingbs</strong>
        : sings fucking bs from some random tiktok video, but the harmony is nice
    </li>
    <li>
        <button type="button" class="btn btn-outline-secondary" id="liveToastBtn" (click)="onClickCopy('redeem quack')">
            <i class="fa-solid fa-clipboard"></i>
        </button>
        <strong> !redeem quack</strong>
        : Make Winston Talk
    </li>
    <li>
        <button type="button" class="btn btn-outline-secondary" id="liveToastBtn" (click)="onClickCopy('redeem huh')">
            <i class="fa-solid fa-clipboard"></i>
        </button>
        <strong> !redeem huh</strong>
        : play the huh cat sound from tiktok
    </li>
    <li>
        <button type="button" class="btn btn-outline-secondary" id="liveToastBtn" (click)="onClickCopy('redeem dontworry')">
            <i class="fa-solid fa-clipboard"></i>
        </button>
        <strong> !redeem dontworry</strong>
        : Dont Worry Be Happy x Hurt mash up  
    </li>
    <li>
        <button type="button" class="btn btn-outline-secondary" id="liveToastBtn" (click)="onClickCopy('redeem antifa')">
            <i class="fa-solid fa-clipboard"></i>
        </button>
        <strong> !redeem antifa</strong>
        : Play The Byte From Porco Rosso when he says "id rather be a pig then a fascist
    </li>
    <li>
        <button type="button" class="btn btn-outline-secondary" id="liveToastBtn" (click)="onClickCopy('redeem imindanger')">
            <i class="fa-solid fa-clipboard"></i>
        </button>
        <strong> !redeem imindanger</strong>
        : play ralph wiggums says im in danger
    </li>
    <li>
        <button type="button" class="btn btn-outline-secondary" id="liveToastBtn" (click)="onClickCopy('redeem notherapy')">
            <i class="fa-solid fa-clipboard"></i>
        </button>
        <strong> !redeem notherapy</strong>
        : say "no amount of therapy will ever make this ok"
    </li>
    <!-- <li>
        <button type="button" class="btn btn-outline-secondary" id="liveToastBtn" (click)="onClickCopy('redeem illbedamned')">
            <i class="fa-solid fa-clipboard"></i>
        </button>
        <strong> !redeem illbedamned</strong>
        : say "Ill BE Damned if i listen to facts outta mouth of the man with an unwashed ass"
    </li> -->
    <li>
        <button type="button" class="btn btn-outline-secondary" id="liveToastBtn" (click)="onClickCopy('redeem hellnaw')">
            <i class="fa-solid fa-clipboard"></i>
        </button>
        <strong> !redeem hellnaw</strong>
        : Play the Hell 2 Da Naw Naw Hook By Bishop Bullwinkle
    </li>
    <li>
        <button type="button" class="btn btn-outline-secondary" id="liveToastBtn" (click)="onClickCopy('redeem thehub')">
            <i class="fa-solid fa-clipboard"></i>
        </button>
        <strong> !redeem thehub</strong>
        : Play The Porn Hub Intro
    </li>
    <li>
        <button type="button" class="btn btn-outline-secondary" id="liveToastBtn" (click)="onClickCopy('redeem wakeupchat')">
            <i class="fa-solid fa-clipboard"></i>
        </button>
        <strong> !redeem wakeupchat</strong>
        : Levantenseeeeeeeeeeeeeeeeeee
    </li>
</ul>