<div *ngIf="formatSwitch">
  <a class="btn btn-primary" (click)="formatSwitchMethod()">Switch To Audio</a>
  <iframe width="100%" height="315" src="https://www.youtube.com/embed/videoseries?si=EvQWh282Gt33FZ6u&amp;list=PLrdsRuM2eycW6H7EAJJjvQcSalX4wDQT7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

</div>
<div *ngIf="!formatSwitch">
  <a class="btn btn-primary" (click)="formatSwitchMethod()">Switch To Video</a>
<iframe src='https://widget.spreaker.com/player?show_id=6114061&theme=dark&playlist=show&playlist-continuous=true&chapters-image=true' width='100%' height='400px' title='Winston&#039;s Roundtable' frameborder='0'></iframe>
</div>
<div>
  <h2>
    Or Listen On Your Favorite Podcasting App:
  </h2>
</div>
  <a href="https://podcasts.apple.com/us/podcast/winstons-roundtable/id1735178808" class="btn btn-primary" target="_blank">Apple</a>
  <a  href="https://open.spotify.com/show/6a9kzLfwVr7qgbfRH1SP4N?si=3563c9b40ffc4290&nd=1&dlsi=65c8703971eb401c" class="btn btn-primary" target="_blank">Spotify</a>
  <a href="https://iheart.com/podcast/288265061/" class="btn btn-primary" target="_blank">iHeartRadio</a>
  <a href="#" class="btn btn-primary" target="_blank">Amazon Music</a>
  <a href="#" class="btn btn-primary" target="_blank">Audible</a>
  <a href="#" class="btn btn-primary" target="_blank">Castbox</a>
  <a href="#" class="btn btn-primary" target="_blank">Deezer</a>
  <a href="#" class="btn btn-primary" target="_blank">Podcast Addict</a>
  <a href="#" class="btn btn-primary" target="_blank">Podchaser</a>
  <a href="#" class="btn btn-primary" target="_blank">JioSaavn</a>
