<div class="d-flex justify-content-center">
    <h4>Winston's Master Duel Roundtable</h4>
  </div>
  <iframe width="100%" height="315" src="https://www.youtube.com/embed/videoseries?si=EvQWh282Gt33FZ6u&amp;list=PLrdsRuM2eycW6H7EAJJjvQcSalX4wDQT7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      <a href="https://himedia.gg/wmdroundtable" class="btn btn-primary">View Podcast On himedia.gg</a>
